
@font-face {
    font-family: gotham-bold;
    src: url(./fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(./fonts/Gotham-Book.otf);
}


body {
    background-color: #49ACD6;
}

.header{
    height: 107px;
    width: 100%;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #fff, #E4E4E4);
}

.wrap-title{
    height: 107px;
    display: flex;
    align-items: center;
}

.header .wrap-title > .title{
    font-size: 39px;
    color: #575757;
    float: left;
    text-transform: uppercase;
    cursor: pointer;
    font-family: gotham-book, "Roboto", sans-serif;;
    margin-left: 18px
}

.header .wrap-title > .title::before{
    content: "";
    position: absolute;
    width: 107px;
    height: 5px;
    background-color: #575757;
    top:20px;
    left: 18px
}

.header .wrap-title > .title::after{
    content: "";
    position: absolute;
    width: 107px;
    height: 5px;
    background-color: #575757;
    top: 83px;
    left: 18px;
}

.header .wrap-title > .arrow{
    width: 18px; 
    height: 18px; 
    position: absolute;
    border-top: 3px solid #8A8C8D;
    border-right: 3px solid #8A8C8D;
    transform:rotate(225deg);
    left: -18px;
    top: 44px;
} 



/* Responsive  */
@media (max-width: 600px){
    .header .wrap-title > .title{
        font-size: 32px;
    } 
}

@media (max-width: 550px){
    .header .wrap-title > .title{
        font-size: 28px;
    } 
}

@media (max-width: 550px){
    .header .wrap-title > .title{
        font-size: 28px;
    } 

    .header .wrap-title > .arrow{
        left: -10px;
    }
}

@media (max-width: 450px){
    .header .wrap-title > .title{
        font-size: 24px;
    } 
    .header .wrap-title > .title::after{
        height: 4px;
    }
    .header .wrap-title > .title::before{
        height: 4px;
    }
}

@media (max-width: 380px){
    .header{
        height: 140px;
    }
    .header .wrap-title > .arrow{
        left: initial;
        transform: rotate(135deg); 
        top: 100px;
        cursor: pointer;
    } 
    
    .header .wrap-title{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header .wrap-title > .title{
        font-size: 18px;
        margin-left: 0; 
    } 
    .header .wrap-title > .title::after{
        height: 4px;
        left: 50%;
        margin-left: -55px;
    }
    .header .wrap-title > .title::before{
        height: 4px;
        left: 50%;
        margin-left: -55px;
    }
}