.gallery .control-button {
  color: #575757;
  /* color: rgba(255, 255, 255, 0.4); */
}

.gallery .control-button:hover {
  color:#575757;
  color: rgba(255, 255, 255, 0.8);
}

.gallery {
  position: relative;
}

.gallery .item .image{
  cursor: pointer;

}

.gallery .item {
  overflow: hidden;
  text-align: center;

}
.gallery .controls {
  position: absolute;
  bottom: 25px;
  width: 100%;
  text-align: center;
  color: #575757;
  
}
.gallery .control-button {
  display: inline-block;
  margin: 0 .02em;
  font-size: 3em;
  text-align: center;
  text-decoration: none;
  transition: color .1s;
  position: relative;
  margin: -22px 6%;
}
.gallery .title-controls{
  font-size: 10px;
  position: absolute;
  left: -7px;
  bottom: -17px;
  font-size: 12px;
  line-height: 12px;
  font-family: "GothamBold";
  font-weight: bold;
  text-align: center;
}


@media (max-width: 750px){
  .gallery .controls {
    background-image: url(../../img/points.png);
    background-size:contain;
    background-size: cover;
    height: 5.7px;
    background-repeat: no-repeat;
  }
}
@media (max-width: 500px){
  .gallery .item{
    height: auto;
  }
  .gallery .item .image{
    height: auto;
    width: 90%;
  }

}
