@font-face {
	font-family: 'GothamBook';
	src: url('../tools/fonts/Gotham-Book.otf'); 
	font-style: normal;
	font-weight : normal;
}


@font-face {
	font-family: 'GothamBold';
	src: url('../tools/fonts/Gotham-Bold.otf'); 
	font-style: normal;
	font-weight : bold;
}

a{
    text-decoration: none;
    color: inherit;
}

body {
	font-family: "GothamBook",sans-serif;
	background-color: #49ACD6;
}


.modal{
	width: 100%;
	height: 220%;
	background-color: white;
	position: absolute;
	z-index: 2;
} 

.modal .bx > .title{
	color:  #47a7cf;
	float: left;
	font-size: 30px;
}

.modal > .text{
	width: 92%;
	padding: 2% 2%;
	color: #9A9A9A;
	margin-right: 2%; 
	margin-left: 2%;
	border-top: groove;
	font-size: 24px;
}

@media (max-width: 610px){
	.modal .bx > .title{
		font-size: 24px;
	}
	.modal > .text{
		font-size: 18px;
	}
}


@media (max-width: 420px){
	.modal .bx > .title{
		font-size: 20px;
	}
	.modal > .text{
		font-size: 16px;
	}
}




.video{
	margin: 0 auto;
	width: 80%;
}

.embed-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 80%; 
	height: auto;
	top: 55px;
	margin-bottom: 30px; 
	margin: 0 auto;

} 

.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 90%;

}