
@font-face {
    font-family: gotham-bold;
    src: url(./fonts/Gotham-Bold.otf);
}

@font-face {
    font-family: gotham-book;
    src: url(./fonts/Gotham-Book.otf);
}

a{
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #49ACD6;
    font-family: gotham-book, "Roboto", sans-serif;
}



/* #client1, #client2, #client3, #client4{
	width: 100%;
	height: 100%;
	background-color: white;
	position: absolute;
	z-index: 1;
} */

/* .title{
	color:  #47a7cf;
	float: left;
}

.text{
	width: 96%;
	padding: 2% 0%;
	color: #9A9A9A;
	margin-right: 2%; 
	margin-left: 2%;
	border-top: groove;
} */
